/* https://codepen.io/vitoralberto/pen/OPYyYB */
body {
	text-align: center;
	padding: 100px 0 0 0;
	color: #fff;
	background: #1d1f20;
}

#accedir {
	font-size: 24pt;
	padding: 24px;
	background: #e67e22;
	color: #fff;
}

#gosset {
	-webkit-animation: rotation 3s infinite linear;
	display: none;
	max-width: 100%;
	max-height: 100%;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}
